@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
html *{
  font-family: "Kiwi Maru", sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 0.5rem;
    align-items: center;
}
html, body {
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--neutral);
  background-image: url("patterntransp.svg");
  color: var(--primary-dark);
}
header{
  background-color: var(--primary-dark);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img{
  height: 3rem;
}
header a{
  text-decoration: none;
  color: white;
}
:root{
  --main-bg: #FBC07C;
  --card-bg: #D28C8E;
  --primary: #A25A76;
  --secondary: #931950;
  --primary-dark: #3C2E44;
  --secondary-dark: #553C48;
  --neutral: #FFF8F1;
}