.lyrics{
    height: calc(80vh - 360px);
    background-color: aquamarine;
    overflow-y: auto;
    padding: 2rem;
    border-radius: 1rem;
    width: calc(80% - 4rem);
    display: flex;
    flex-direction: column;
}
.vSpacer {
    flex: 1 0 auto;
}
.activeLyric{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
}
#yt-player{
    width: 80%;
    border-radius: 1rem;
}
.lyricTime{
    opacity: 0.5;
    font-size: 80%;
    width: 10ch;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
.lyric{
    display: flex;
    align-items: center;
    transition: background-color 1s;
}
.segment{
    margin-right: 0.1rem;
}
.japanese{
    text-decoration: underline;
    cursor: pointer;
}
.furigana{
    font-size: 70%;
}
.segmentContainer{
    display: grid;
    grid-template-areas: "overlay";
}
.segmentContainer *{
    grid-area: overlay;
}
.vocabularyTable{
    background-color: skyblue;
    padding: 2rem;
    border-radius: 1rem;
    width: calc(80% - 4rem);
    display: flex;
    flex-direction: column;
}
