.lyrics{
    height: calc(80vh - 360px);
    background-color: aquamarine;
    overflow-y: auto;
    padding: 2rem;
    border-radius: 1rem;
    width: calc(80% - 4rem);
    display: flex;
    flex-direction: column;
}
.vSpacer {
    flex: 1 0 auto;
}
#yt-player{
    width: 80%;
    border-radius: 1rem;
}
.lyricTime{
    opacity: 0.5;
    font-size: 80%;
    width: 10ch;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
.lyric{
    display: flex;
    align-items: center;
    border-radius: 1rem;
    transition: all 1s;
    margin: 0.1rem;
}

.japanese{
    text-decoration: underline;
    cursor: pointer;
}
.furigana,
.kanji {
    font-size: 70%;
    line-height: 1;
}
.segmentContainer{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    margin-top: 0.5rem;
}
.segmentContainer *{
    margin: 0;
}
.segment {
    line-height: 1;
    margin-right: 0.1rem;
}

.vocabularyTable{
    background-color: skyblue;
    padding: 2rem;
    border-radius: 1rem;
    width: calc(80% - 4rem);
    display: flex;
    flex-direction: column;
}

.chevron-button{
    border: none;
    background: none;
    font-size: 200%;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
}
caption {
    width: calc(80% - 4rem);
    text-align: left;
    font-size: 80%;
}
td a{
    color: black;
}
table {
  border-collapse: collapse; 
  width: 100%;
}

tbody > tr{
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
}
td > button{
    margin: 0.3rem;
}
.expand-cell {
  width: 100%;
}
.expand-cell *{
    display: inline-block;
    margin-right: 2ch;
}
.activeLyric {
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    bottom: 0;
    min-height: 3rem;
}
.lyric:last-child:not(.activeLyric){
    font-size: 90%;
    color:rgba(0, 0, 0, 0.5);
}
.delete-button{
    border: none;
    background: none;
    cursor: pointer;
}
.delete-button *{
    color: red;
    fill: white;
    transition: all 0.5s;
}
.delete-button:hover *{
    color: white;
    fill: red;
}
button.sentence{
    background: none;
    border-radius: 4px;
    cursor: pointer;
}
button.sentence:hover{
    background-color: white;
    transition: all 0.1s;
}
button.sentence:not(:hover){
    border: 1px solid grey;
    transition: all 0.1s;
}
.sentence{
    font-size: 90%;
}
p.sentence{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    text-decoration: underline dashed;
}