.mainField{
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 90%;
  font-size: large;
}

.mainSubmit{
  background-color: aqua;
  padding: 0.5em;
  border: none;
  position: relative;
  box-shadow: 0.2rem -0.2rem 0 navy;
  top: 0.2rem;
  right: 0.2rem;
  transition: all 0.5s;
  border-radius: 0.2rem;
}
.mainSubmit:hover{
  box-shadow: 0 0 0 0.2rem white;
  top: 0;
  right: 0;
}
.error{
    background-color: rgba(255, 0, 0, 0.2);
    border-left: 0.3rem solid red;
    padding: 0.5rem;
}
.options button{
  border: none;
  border-radius: 0.5rem;
  background-color: navy;
  min-width: 10rem;
  max-width: 10rem;
  height: 10rem;
  box-shadow: 0.5rem -0.5rem 0 aqua;
  position: relative;
  bottom: 0;
  transition: all 0.5s;
  padding: 0;
  overflow: hidden;
  margin-left: 2rem;
}
.options button:hover{
  box-shadow: 0.5rem 0.5rem 0 white;
  bottom: 0.5rem;
}
.options{
  height: 12rem;
  overflow-x: scroll;
  padding-top: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
}
.options img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  position: absolute;
  top: 0;
  left: 0;
}
.options p{
  width: 100%;
  z-index: 10;
  color: white;
  font-size: 200%;
  text-wrap: wrap;
  position: relative;
}
.title{
  color: navy;
  font-size: 4rem;
  margin: 0;
}
.intro{
  width: 100vw;
  text-align: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("assets/pattern.svg");
  background-repeat: repeat;
}
main .main{
  position: relative;
  bottom: calc((40vh - 8rem) / 2);
  border-radius: calc(0.5rem + 16px);
  width: 80%;
  background: aquamarine;
  padding: 2rem;
  background-position-y: 20%;
  background-position-x: 1vw;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  text-decoration: underline wavy navy 1.5px;
}