.mainField{
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 90%;
  font-size: large;
}

.mainSubmit{
  background-color: var(--primary);
  padding: 0.5em;
  border: none;
  position: relative;
  box-shadow: 0.2rem -0.2rem 0 var(--secondary);
  top: 0.2rem;
  right: 0.2rem;
  transition: all 0.5s;
  border-radius: 0.2rem;
  color: white;
}
.mainSubmit:hover{
  box-shadow: 0 0 0 0.2rem var(--main-bg);
  top: 0;
  right: 0;
}
.error{
    background-color: rgba(255, 0, 0, 0.2);
    border-left: 0.3rem solid red;
    padding: 0.5rem;
}
.options button{
  border: none;
  border-radius: 0.5rem;
  background-color: var(--secondary-dark);
  min-width: 10rem;
  max-width: 10rem;
  height: 10rem;
  box-shadow: 0.5rem -0.5rem 0 var(--secondary);
  position: relative;
  bottom: 0;
  transition: all 0.5s;
  padding: 0;
  overflow: hidden;
  margin-left: 2rem;
}
.options button:hover{
  box-shadow: 0.5rem 0.5rem 0 var(--main-bg);
  bottom: 0.5rem;
}
.options{
  height: 12rem;
  overflow-x: scroll;
  padding-top: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
}
.options img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  position: absolute;
  top: 0;
  left: 0;
}
.options p{
  width: 100%;
  z-index: 10;
  color: white;
  font-size: 200%;
  text-wrap: wrap;
  position: relative;
}
.title{
  color: var(--primary-dark);
  font-size: 4rem;
  margin: 0;
}
.intro{
  padding: 0 10vw 0 10vw;
  width: 80vw;
  height: 85dvh;
  display: flex;
  align-items: center;
  background-image: url("assets/pattern.svg");
  background-position: 0 -4.4rem;
  background-repeat: repeat;
  justify-content: flex-start;
}
.intro > *{
  flex: 1;
}
.intro .lyrics{
  flex: 0.5;
  height: 20vh;
  box-shadow: -0.5rem -0.5rem 0 var(--secondary);
}
@media screen and (max-width: 95ch) {
  .intro .lyrics{
    display: none;
  }
}
main .main{
  position: relative;
  bottom: calc((40vh - 8rem) / 2);
  border-radius: calc(0.5rem + 16px);
  width: 80%;
  background: var(--card-bg);
  padding: 2rem;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  text-decoration: underline wavy var(--main-bg) 1.5px;
  color: var(--primary-dark);
}